{% extends 'layout-main.twig' %}

{% block title %}
  E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
  <div id="etest-index">
    <div class="page-header">
      <h2>Available Courses</h2>
    </div>
    <div class="bg-info">
      <p>
      <blockquote>
        <h3>
          Select a preferred course below to take your practice test
        </h3>
            <h4 class="alert-danger">
               <b>NOTE: Ensure that you do not Click the Submit button without completing the Test!!!</b><br>
                Answer all question. This is just a practise test and you will not be penalized for wrong answers.

            </h4>
      </blockquote>
      </p>
    </div>

    <div class="container-fluid">
      <div class="col-md-8">
        {% for course in courses %}
          <div class="media course-item">
            <a class="course-icon pull-left bg-success innerAll text-center text-white"
               href="{{ app.url_generator.generate('etest.session', {course_id: course.id}) }}">
              <i class="fa fa-fw fa-globe fa-5x"></i>
            </a>

            <div class="media-body">
              <h3 class="media-heading">
                <a href="{{ app.url_generator.generate('etest.session', {course_id: course.id}) }}"
                   class="text-inverse">
                  {{ course.name }}
                </a>
                <small><i class="fa fa-fw fa-clock-o"></i> {{ course.time_length }} mins</small>
              </h3>
              <span class="text-muted">{{ course.description }}</span>
              <a href="{{ app.url_generator.generate('etest.session', {course_id: course.id}) }}"
                 class="btn btn-primary btn-start-test">
                Begin Test &raquo;
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

     <!--  <div class="col-md-4">
        <div class="panel panel-default panel-recent-articles box no-rounded">
          <div class="panel-heading no-rounded">
            <h3 class="panel-title">
              <span class="fa fa-plus"></span>
              Recently Added
            </h3>
          </div>
          <div class="panel-body">
<<<<<<< HEAD
            {% for course in recentlyAddedCourses %}
              <a href="{{ app.url_generator.generate('etest.session', {course_id: course.id}) }}"
=======
            {# {% for course in recentlyAddedCourses %} #}
              <a href=" {## {{ app.url_generator.generate('etest.view-course', {course_id: course.id}) }} #}"
>>>>>>> 42b158c266b1b722158dff09a10d1cdb65a46e14
                 class="media recent-article-item sidebar-list-item">
                <img src="{# {{ book.preview_image_url | default(app.default_book_image) }} #}"
                     class="media-object pull-left">
                <span class="display-block media-body">
                    <h5> {## {{ course.name }} #}</h5>
                    <div class="clearfix"></div>
                </span>
              </a>
             {## {% endfor %} #}
          </div>
        </div>

      </div> -->
    </div>
  </div>
{% endblock %}