{% extends 'layout-main.twig' %}

{% block title %}
  E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
  <div id="user-dashboard">
    <div class="page-header">
      <h2>Electronic Test Practice:
        <small>/ Result</small>
      </h2>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <p>Total Attempted: {{ totalQuestions }} </p>
          <p>Score: {{ correctlyAnswered }} / {{ totalQuestions }} </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% for question in session.questions %}
            <h4>
              {{ question.question }} - <br />
              <b>Selected Option: </b> {{ question.options[question._pivot_selected_answer - 1] }} ---
              {% if question._pivot_correctly_answered %} Correct {% else %} Incorrect {% endif %}
            </h4>
            <hr />
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}