{% extends 'layout-main.twig' %}

{% block title %}
  E-Exam | {{ parent() }}
{% endblock %}

{% block content %}
  <div id="user-dashboard">
    <div class="page-header">
      <h2>Electronic Test Practice:
        <small>/ Result Page</small>
      </h2>

    </div> <blockquote>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3><p class="alert-success">Total Questions Attempted : {{ totalQuestions }} </p></h3>
          <p class="alert-success">Correctly Answered : {{ correctlyAnswered }} <br> <span class="alert-danger"> Wrongly Answered : {{ totalQuestions - correctlyAnswered }}</span>
          <br>
              <b><h3 class="alert-success">Total Score : {{ correctlyAnswered }}</h3></b>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          {% for question in session.questions %}
            <h4>
              {{ question.question }} - <br />
              <b>Selected Option: </b> {{ question.options[question._pivot_selected_answer - 1] }} ---
              {% if question._pivot_correctly_answered %} Correct {% else %} Incorrect {% endif %}
            </h4>
            <hr />
          {% endfor %}
        </div>
      </div>
        <div>
            <p>
                <b class="alert-success">Thank you your time. Please take another test or use other services.</b> <span class="alert-danger"> Best of luck in your real Examination</span>
            </p>

        </div>

    </div></blockquote>
  </div>
{% endblock %}