{% extends 'layout-main.twig' %}

{% block title %}
    E-Exam | {{ parent() }}
{% endblock %}

{% block content %}

    <div id="etest-session">
        <div class="container-fluid margin-top-lg">

            <div class="col-md-8">
                <form action="" method="post" id="question-form">
                    <div>
                    {% for question in session.questions %}
                        <h3>Question {{ loop.index }}</h3>

                        <section>
                            <input type="hidden" name="question[{{ loop.index }}][id]" value="{{ question.id }}"/>

                            <div class="course-item panel">
                                <div class="panel-heading">
                                    {{ question.question }}
                                </div>
                                <div class="panel-body">
                                    {% if question.type == 'multiple_choice' %}

                                        {% for option in question.options %}

                                            <input type="radio" name="question[{{ loop.parent.loop.index }}][answer]"
                                                   value="{{ loop.index }}"> {{ option }} <br/>
                                        {% endfor %}

                                    {% elseif question.type == 'true_or_false' %}
                                        {% for option in question.options %}
                                            <input type="radio" name="question[{{ loop.parent.loop.index }}][answer]"
                                                   value="{{ loop.index }}"> {{ option }} <br/>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                        </div>

                    <button class="btn btn-default btn-library">Submit</button>
                </form>
            </div>

            <div class="col-md-4">
                <div class="col-md-3" style="padding-bottom: 20px;">

                        <form name="counter">
                            <b class="alert-danger">Time left:</b>
                            <input type="text" size="8"

                                                    name="d2"></form>
                        <script>

                            /*

                             Author: Elijah Abolaji
                             mail: cloudnigeria@gmail.com

                             */

                            // Script to manage the test
                            var milisec=0

                            var seconds=60
                            var minutes =10

                            document.counter.d2.value='30'
                            function display(){ if (milisec<=0){

                                milisec=59

                                seconds-=1



                            }
                                if (seconds<=-1){



                                    seconds=59

                                    minutes-=1


                                }
                                if (minutes<=-1){
                                    milisec=0
                                    seconds = 0
                                    minutes+=1

                                }


                                else{

                                    milisec-=1
                                    //seconds-=1
                                    //minutes-=1



                                }
                                document.counter.d2.value= minutes+":"+seconds ;

                                if(minutes==4 && seconds==0 && milisec==0){

                                    alert("Please review your work and click on submit"+" "+ "Do not allow the system to submit your work automatically");
                                }
                                if(seconds==0 && milisec==0 && minutes==0)

                                {
                                    alert("Time Out. No assesment for you!!!" +" "+"Please take test again");
                                    window.location ="{{ app.url_generator.generate('etest.result', {session_id: session.id}) }}";
                                }

                                else

                                {
                                    setTimeout("display()",1);

                                }

                            }

                            display()



                        </script>



                </div>


            </div>

        </div>
    </div>

{% endblock %}