{% extends 'layout-main.twig' %}

{% block title %}
    E-Exam | {{ parent() }}
{% endblock %}

{% block content %}

    <div id="etest-session">
        <div class="container-fluid margin-top-lg">

            <div class="col-md-8">
                <form action="" method="post">
                    {% for question in session.questions %}
                        <div class="course-item panel">
                            <div class="panel-heading">
                                {{ question.question }}
                            </div>
                            <div class="panel-body">
                                {% if question.type == 'multiple_choice' %}

                                    {% for option in question.options_parsed %}
                                        <input type="radio" name="question[{{ question.id }}][answer]" value="{{ loop.index }}"> {{ option }} <br />
                                    {% endfor %}

                                {% elseif question.type == 'true_or_false' %}
                                    {% for option in question.options_parsed %}
                                        <input type="radio" name="question[{{ question.id }}][answer]" value="{{ loop.index }}"> {{ option }} <br />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>

            <div class="col-md-4">

            </div>

        </div>
    </div>

{% endblock %}