{% extends 'layout-main.twig' %}

{% block title %}
    Print Jobs | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="print-job-view">
        <div class="page-header clearfix">
            <h2 class="pull-left">Print Documents
                <small> / {{ printJob.name }}</small>
            </h2>

            <div class="pull-right page-header-extras">
                Job ID: {{ printJob.id }}
            </div>
        </div>
        <div class="container-fluid margin-top-lg">
            <div class="row">
                <div class="col-md-9">
                    {% for document in printJob.documents %}
                        <div class="col-md-4">
                            <div class="box thumbnail no-rounded">
                                <div class="thumbnail-image">
                                    <span class="file-ext">
                                        {{ document.file_extension|default('Doc') }}
                                        / {{ document.file_size }}
                                    </span>
                                    <span class="fa fa-file-text fa-5x"></span>
                                </div>
                                <div class="caption">
                                    <h3>{{ document.file_name }}</h3>

                                    <form action="" method="post">
                                        <input type="hidden" name="document_id" value="{{ document.id }}"/>
                                        <button class="btn btn-danger btn-block no-rounded" type="submit" name="action[delete_document]">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    {% endfor %}
                </div>
                <div class="col-md-3">

                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="panel panel-default no-rounded">
                            <div class="panel-heading no-rounded">
                                <h3 class="panel-title"><span class="fa fa-upload"></span> Upload Document</h3>
                            </div>
                            <div class="panel-body">
                                <div class="padding-lg">
                                    <input type="file" name="document"/>
                                </div>
                            </div>
                            <div class="panel-footer no-rounded">
                                <button type="submit" name="action[upload_document]"
                                        class="btn btn-primary btn-block no-rounded">
                                    Upload
                                </button>
                            </div>
                        </div>
                    </form>

                    {% include 'print-job/partials-sidebar.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}