<div class="panel panel-default box no-rounded">
    <form action="{{ app.url_generator.generate('billing.payment') }}" method="get">
        <div class="panel-heading no-rounded">
            <h3 class="panel-title">
                <span class="fa fa-plus"></span>
                Total amount has
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <h3>#{{ user.fund }}</h3>
                <input type="hidden" name="user-fund" value="{{ user.fund }}">
                <input type="hidden" name="type" value="debt">
                <a href="{{ app.url_generator.generate('billing.payment') }}" class="btn btn-primary btn-block">Add fund</a>
            </div>
        </div>
    </form>
</div>
<div class="panel panel-default box no-rounded">
    <div class="panel-heading no-rounded">
        <h3 class="panel-title">
            <span class="fa fa-minus"></span>
            Total amount currently owned
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <h3>#{{ user.debt }}</h3>
            <input type="hidden" name="user-debt" value="{{ user.debt }}">
            <input type="hidden" name="user-debt" value="debt">
        </div>
    </div>
</div>
<div class="panel panel-default box no-rounded">
    <div class="panel-heading no-rounded">
        <h3 class="panel-title">
            <span class="fa fa-plus"></span>
            Total amount ever paid
        </h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <h3>#2700</h3>
        </div>
    </div>
</div>