{% extends 'layout-main.twig' %}

{% block title %}
    Books | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="book-index">


        <div id="header_search">

            {% include 'book/search-form.twig' %}

            <div id="header_only"><h3>Books&raquo;{{ books[0].category.title }}</h3></div>
        </div>


        <div class="clearfix"></div>

        <div class="container-fluid margin-top-lg">
            <div class="row book_main">
                <div class="col-md-9">
                    <div class="container-fluid margin-top-lg">
                        <div class="row">
                            {% for book in books %}

                                <div class="col-md-3" >
                                    <div id="book-hold">
                                        <div class="box book-item" style="border: 3px solid #ccc;;">
                                            <div class="book-item-preview">
                                               <a href="{{ app.url_generator.generate('books.view', {id: book.id}) }}">
                                                <img src="{{ book.preview_image_url | default(app.default_book_image) }}"
                                                     width="180" height="200"/></a>
                                            </div>
         <div id="book-att-icons">
             <p class="books_title"><a href="{{ app.url_generator.generate('books.view', {id: book.id}) }}" >
                 {{ book.title }}
             </a></p>
             <p class="books_title">
                    <span class="icon-att">
                    {% if book.context_user_liked == 1 %}
                        <a href="javascript:void(0)"
                           id="book-view-{{ book.id }}"
                           class="book-view"
                           data-action="view">
                        <span data-toggle="tooltip" data-placement="top" title="View"  >
                            <span class="design"><i class="fa fa-users"></i>
                                <span class="like_view_count">
                                    {{ book.views_count }}
                                    {% if book.views_count>1 %}
                                        {{ " Views" }}
                                    {% else %}
                                        {{ " View" }}
                                    {% endif %}
                                </span>
                            </span>
                        </span>
                        </a>
                        {% else %}
                        <a href="{{ app.url_generator.generate('books.view', {id: book.id}) }}"
                           id="book-viewed-{{ book.id }}"
                           class="book-view"
                           data-action="viewed">
                            <span data-toggle="tooltip" data-placement="top" title="View">
                                <span class="design"><i class="fa fa-users"></i>
                                    <span class="like_view_count">
                                        {{ book.views_count}}
                                        {% if book.views_count>1 %}
                                            {{ " Views" }}
                                        {% else %}
                                            {{ " View" }}
                                        {% endif %}
                                    </span>
                                </span>
                            </span>
                        </a>
                    {% endif %}
                    </span>

                    <span class="icon-att">
                    {% if book.context_user_liked == 1 %}
                        <a href="javascript:void(0)"
                           id="book-unlike-{{ book.id }}"
                           class="book-unlike-like"
                           data-action="unlike">
                        <span data-toggle="tooltip" data-placement="top" title="Unlike"  >
                            <span class="design"><i class="fa fa-thumbs-down"></i>
                                <span class="like_view_count">
                                    {{ book.likes_count }}
                                    {% if book.likes_count>1 %}
                                        {{ " Likes" }}
                                    {% else %}
                                        {{ " Like" }}
                                    {% endif %}
                                </span>
                            </span>
                        </span>
                        </a>
                        {% else %}
                        <a href="javascript:void(0)"
                           id="book-like-{{ book.id }}"
                           class="book-unlike-like"
                           data-action="like">
                            <span data-toggle="tooltip" data-placement="top" title="Like">
                                <span class="design"><i class="fa fa-thumbs-up"></i>
                                    <span class="like_view_count">
                                        {{ book.likes_count  }}
                                        {% if book.likes_count>1 %}
                                            {{ " Likes" }}
                                        {% else %}
                                            {{ " Like" }}
                                        {% endif %}
                                    </span>
                                </span>
                            </span>
                        </a>
                    {% endif %}
                    </span>
             </p>
         </div>
         <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="padding-top: 20px;">
                    {% include 'book/sidebar.twig' %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}
