{% extends 'layout-main.twig' %}

{% block title %}
    Books | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="book-index">


        <div id="header_search">
            <div class="col-md-4" style=" margin-right: 5px;" id="header_check">
                <div class="input-group">
                    <input type="text" placeholder="Looking for a book, what book? " class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <div id="header_only"><h3>Books&raquo;{{ books[0].category.title }}</h3></div>
        </div>


        <div class="clearfix"></div>

        <div class="container-fluid margin-top-lg">
            <div class="row book_main">
                <div class="col-md-9">
                    <div class="container-fluid margin-top-lg">
                        <div class="row">
                            {% for book in books %}

                                <div class="col-md-3">
                                    <div id="book-hold">
                                        <div class="box book-item">
                                            <div class="book-item-preview">
                                               <a href="{{ app.url_generator.generate('books.view', {id: book.id}) }}">
                                                <img src="{{ book.preview_image_url | default(app.default_book_image) }}"
                                                     width="180" height="200"/></a>
                                            </div>
                             <div class="text-center" id="book-att-icons">
                             <p>
                  			<span class="icon-att" style="float: left;">
                            <a href="#">
                            <span data-toggle="tooltip" data-placement="top" title="view">
                  			<span class="fa fa-users design"><span class="like_view_count">{{ book.views_count }}</span></span></span>
                            </a>
                            </span>

                 			<span class="icon-att" style="float: right;">
                            <a href="#">
                            <span data-toggle="tooltip" data-placement="top" title="like">
                            <span class="glyphicon glyphicon-thumbs-up design"><span class="like_view_count">{{ book.likes_count }}</span></span></span>
                            </a>
                            </span>

                             </p>
                             </div>
                                            <div class="clearfix"></div>


                                        </div>

                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>

                <div class="col-md-3" style="padding-top: 20px;">
                    {% include 'book/sidebar.twig' %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}