{% extends 'layout-main.twig' %}

{% block title %}
    Books | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="book-index">

<<<<<<< HEAD
        <div id="header_search">
            <div class="col-md-4" style=" margin-right: 5px;" id="header_check">
                <div class="input-group">
                    <input type="text" placeholder="Looking for a book, what book? " class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <div id="header_only"><h3>BOOKS CATEGORIES</h3></div>
        </div>
=======
        <div class="page-header clearfix">
            <h2 class="pull-left">Browse Books</h2>
>>>>>>> 88f4bc1c63ac1a6a205330d496bc1677a5c62e11

            <div class="navbar navbar-default pull-right">
                {% include 'book/search-form.twig' %}

            </div>
        </div>

        <div class="container-fluid margin-top-lg">
<<<<<<< HEAD
            <div class="row book_main">
                <div class="col-md-9">
                    <div class="container-fluid margin-top-lg">
                        <div class="row">
                            <div class="body-subcontainer">
                                {% set catArray=[] %}
                                {% for category in categories %}
                                    <div id="cat_head">
                                        {{ category.title }} &raquo; <a href="{{ app.url_generator.generate('books.category', {id: category.id})}}"
                                                >see more</a>
                                    </div>

                                    <div class="demo">
                                        <div class="example" id="{{ 'categories_'~ category.id }}">
                                            <div>
                                                <ul>
                                                    {% for book in category.books %}
                                                        <li>
                                                            <a href="{{ app.url_generator.generate('books.view', {id: book.id}) }}">
                                                            <img src="{{ app.default_book_image }}"
                                                                 width="183" height="190">
                                                            </a>
=======
            <div class="row">
                <div class="col-md-8">
                    {% for category in categories %}
                        <div class="category-item">
                            <div class="category-title">
                                <h3>{{ category.title }}</h3>
                            </div>
>>>>>>> 88f4bc1c63ac1a6a205330d496bc1677a5c62e11

                            <div class="category-books">
                                <div class="row">
                                    {% for book in category.books %}
                                        <div class="col-xs-6 col-md-3 category-book-item">
                                            <div href="#" class="thumbnail no-rounded">
                                                <img src="{{ book.preview_image_url | default(app.default_book_image) }}"
                                                     alt="..."/>

                                                <div class="caption">
                                                    <div class="btn-group btn-group-justified no-rounded">
                                                        <a href="#" class="btn btn-primary no-rounded" role="button">
                                                            <span class="fa fa-eye"></span> <br/>
                                                            {{ book.views_count }}
                                                        </a>
                                                        <a href="#" class="btn btn-default no-rounded" role="button">
                                                            <span class="fa fa-thumbs-up"></span> <br />
                                                            {{ book.likes_count }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-md-4">
                    {# Most Liked Books Panel #}
                    <div class="panel panel-default panel-most-liked-books box no-rounded">
                        <div class="panel-heading no-rounded">
                            <h3 class="panel-title">
                                <span class="fa fa-plus"></span>
                                Most Liked Books
                            </h3>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>

                    {# Most Viewed Books #}
                    <div class="panel panel-default panel-most-liked-books box no-rounded">
                        <div class="panel-heading no-rounded">
                            <h3 class="panel-title">
                                <span class="fa fa-plus"></span>
                                Most Viewed Books
                            </h3>
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
            <!-- row book_main-->
        </div>
        <!-- container-fluid margin-top-lg -->
    </div><!-- boook-index -->
{% endblock %}