{% extends 'layout-main.twig' %}

{% block title %}
    Books | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="book-index">

        <div id="header_search">
            <div class="col-md-4" style="padding-right: 15px;" id="header_check">
                <div class="input-group">
                    <input type="text" placeholder="Looking for a book, what book? " class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <div id="header_only"><h3>BOOKS CATEGORIES</h3></div>
        </div>


        <div class="clearfix"></div>

        <div class="container-fluid margin-top-lg">
            <div class="row book_main">
                <div class="col-md-9">
                    <div class="container-fluid margin-top-lg">
                        <div class="row">
                            <div class="body-subcontainer">
                                {% set catArray=[] %}
                                {% for category in categories %}
                                    <div id="cat_head">
                                        {{ category.title }} &raquo; <a
                                                href="{{ app.url_generator.generate('books.category', {id: category.id}) }}"
                                                >see more</a>
                                    </div>

                                    <div class="demo">
                                        <div class="example" id="{{ 'categories_'~ category.id }}">
                                            <div>
                                                <ul>
                                                    {% for book in category.books %}
                                                        <li>
                                                            <a href="{{ app.url_generator.generate('books.view', {id: book.id}) }}">
                                                                <img src="{{ app.default_book_image }}"
                                                                     width="183" height="190">
                                                            </a>

                <div id="book-icon">

                    <span class="icon-att">
                    {% if book.context_user_liked == 1 %}
                        <a href="javascript:void(0)"
                           id="book-view-{{ book.id }}"
                           class="book-view"
                           data-action="view">
                        <span data-toggle="tooltip" data-placement="top" title="View"  >
                            <span class="design"><i class="fa fa-users"></i>
                                <span class="like_view_count">
                                    {{ book.views_count}}
                                    {% if book.views_count>1 %}
                                        {{ " Views" }}
                                    {% else %}
                                        {{ " View" }}
                                    {% endif %}
                                </span>
                            </span>
                        </span>
                        </a>
                        {% else %}
                        <a href="javascript:void(0)"
                           id="book-viewed-{{ book.id }}"
                           class="book-view"
                           data-action="viewed">
                            <span data-toggle="tooltip" data-placement="top" title="View">
                                <span class="design"><i class="fa fa-users"></i>
                                    <span class="like_view_count">
                                        {{ book.views_count }}
                                        {% if book.views_count>1 %}
                                            {{ " Views" }}
                                           {% else %}
                                            {{ " View" }}
                                                {% endif %}
                                    </span>
                                </span>
                            </span>
                        </a>
                    {% endif %}
                    </span>

                    <span class="icon-att">
                    {% if book.context_user_liked == 1 %}
                        <a href="javascript:void(0)"
                           id="book-unlike-{{ book.id }}"
                           class="book-unlike-like"
                           data-action="unlike">
                        <span data-toggle="tooltip" data-placement="top" title="Unlike"  >
                            <span class="design"><i class="fa fa-thumbs-down"></i>
                                <span class="like_view_count">
                                    {{ book.likes_count }}
                                    {% if book.likes_count>1 %}
                                        {{ " Likes" }}
                                    {% else %}
                                        {{ " Like" }}
                                    {% endif %}
                                </span>
                            </span>
                        </span>
                        </a>
                        {% else %}
                        <a href="javascript:void(0)"
                           id="book-like-{{ book.id }}"
                           class="book-unlike-like"
                           data-action="like">
                            <span data-toggle="tooltip" data-placement="top" title="Like">
                                <span class="design"><i class="fa fa-thumbs-up"></i>
                                    <span class="like_view_count">
                                        {{ book.likes_count }}
                                        {% if book.likes_count>1 %}
                                            {{ " Likes" }}
                                        {% else %}
                                            {{ " Like" }}
                                        {% endif %}
                                    </span>
                                </span>
                            </span>
                        </a>
                    {% endif %}
                    </span>
                </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                            </div>
                                        </div>
                                        <!-- example -->

                                    </div><!-- demo -->
                                {% endfor %}
                            </div>
                            <!-- .body-subcontainer -->

                        </div>
                        <!-- row -->
                    </div>
                    <!-- container-fluid margin-top-lg -->
                </div>
                <!-- col-md-9 -->

                <div class="col-md-3" style="padding-top: 20px;">
                    {% include 'book/sidebar.twig' %}
                </div>
            </div>
            <!-- row book_main-->
        </div>
        <!-- container-fluid margin-top-lg -->
    </div><!-- boook-index -->
{% endblock %}