<div id="side_nav_cont"  style="background-color: #fefefe; min-height: 1500px; border:1px solid #ddd;">
    <ul class="nav nav-tabs nav-justified">
        <li class="favor  active"><a href="#">Most View Books</a></li>
        {# <li  class="reserved"><a href="#">Reserved books</a></li> #}
    </ul>
    <div id="reserved_favorite_div" >

        <div class="reserved_div res_fav_div">
            <div class="list-group">
                {% for reservedbook in reservedbooks %}
                    <span class="list-group-item">
                    <h4 class="list-group-item-heading">
                        <a style="color: #D9631E;" href="{{ app.url_generator.generate('books.view', {id: reservedbook.book_id}) }}">
                            {{ reservedbook.book["title"] }}</a>
                    </h4>
                    <p class="list-group-item-text"><span class="col">Reserved Date:</span></br>{{ reservedbook.created_at }}</p>
                    <p class="list-group-item-text"><span class="col">Reservation Expires In:</span></br> 7 days</p>
                        {# <p class="list-group-item-text"><span class="pull-left"><a href="#">Cancel</a></span></p> #}
                </span>
                {% endfor %}
            </div>
        </div>

        <div class="favorite_div">
            <div class="list-group">

                {% for mvbook in mostviewed %}
                    <div id="book-hold">
                        <div class="box book-item">
                            <div class="book-item-preview" style="border: 2px solid #ccc;" >
                                <div style="">

                                <a href="{{ app.url_generator.generate('books.view', {id: mvbook.id}) }}">
                                    <img src="{{ mvbook.preview_image_url | default(app.default_book_image) }}"
                                         width="180" height="200"/></a>
                                <p class="books_title"><a href="{{ app.url_generator.generate('books.view', {id: mvbook.id}) }}" >
                                    {{ mvbook.title }}</a>
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

