{% extends 'layout-main.twig' %}

{% block title %}
    Student-Bill | {{ parent() }}
{% endblock %}

{% block content %}
    <div id="user-dashboard">
        <div class="page-header">
            <h2>Billing
                <small class="text-muted">/ Checkout</small>
            </h2>
        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="col-md-8">
                    <table class="table">
                        <thead>
                        <th>S/N</th>
                        <th>Transaction ID</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Date</th>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ transaction.transaction_id }}</td>
                                <td>{{ transaction.description }}</td>
                                <td>&#8358 {{ transaction.amount }}</td>
                                <td>{{ transaction.status }}</td>
                                <td>{{ transaction.created_at | date('d-M-Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    {% include 'billing/sidebar.twig' with {'transactions' : transactions, 'user' : user} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}