{% extends 'layout-main.twig' %}

{% block content %}
    <div id="article-index">
        <div class="page-header">
            <h2>Articles</h2>
        </div>

        <div class="container-fluid margin-top-lg">
            <div class="row">

                <div class="col-md-8">
                    {% for article in articles %}
                        <div class="article-item media">

                            <a class="pull-left" href="{{ app.url_generator.generate('articles.view', {id: article.id}) }}">
                                <img class="media-object" src="{{ article.image_url | default(app.default_article_image) }}" width="210" height="240">
                            </a>

                            <div class="media-body">
                                <h4>
                                    <a href="{{ app.url_generator.generate('articles.view', {id: article.id}) }}">
                                        {{ article.title }}
                                    </a>
                                </h4>
                                <div class="article-info text-inverse">{{ article.created_at }}</div>
                                <p class="article-content">
                                    {{ article.content_html }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
{% endblock %}