<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Elibrary{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ app.base_url }}assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/application.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/vscroll/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/vscroller.css" rel="stylesheet" type="text/css"/>

</head>
<body class="{% block body_class %}{% endblock %}">

<div id="wrapper">
    {% block before_header %}{% endblock %}
    <div id="header" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="{{ app.url_generator.generate('user.dashboard') }}" id="logo">
                <h2>E</h2>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ app.url_generator.generate('books.index') }}">Books</a>
                </li>
                <li>
                    <a href="{{ app.url_generator.generate('printJobs.index') }}">Printing Service</a>
                </li>
                <li>
                    <a href="{{ app.url_generator.generate('exam.index') }}">Electronic Exam</a>
                </li>
                <li>
                    <a href="{{ app.url_generator.generate('billing.index') }}">Billing</a>
                </li>
            </ul>
        </div>
    </div>
    {% block after_header %}{% endblock %}

    {% block before_content %}{% endblock %}
    <div id="main">
        {% block content %} {% endblock %}
    </div>
    {% block after_content %}{% endblock %}
</div>

<script type="text/javascript" src="{{ app.base_url }}assets/js/jquery-1.11.0.js"></script>
<<<<<<< HEAD
=======
<script type="text/javascript" src="{{ app.base_url }}assets/js/book.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/microfiche.js"></script>
>>>>>>> 11283dcfcceb57fa721321d41138b78425eea142
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroller.js"></script>
</body>
</html>