{% include 'layouts/header.twig' %}

<div id="wrapper">
    {% block before_header %}{% endblock %}
    <div id="header" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <a href="{{ app.url_generator.generate('user.dashboard') }}" id="logo">
                <h2>E</h2>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
        ">
        <ul class="nav navbar-nav">
            <li class="{% if is_module('books') %}active{% endif %}">
                <a href="{{ app.url_generator.generate('books.index') }}">Books</a>
            </li>
            <li class="{% if is_module('print-jobs') %}active{% endif %}">
                <a href="{{ app.url_generator.generate('printJobs.index') }}">Printing Service</a>
            </li>
            <li class="{% if is_module('electronic-test') %}active{% endif %}">
                <a href="{{ app.url_generator.generate('etest.index') }}">Electronic Test</a>
            </li>
            <li class="{% if is_module('articles') %}active{% endif %}">
                <a href="{{ app.url_generator.generate('articles.index') }}">Articles</a>
            </li>
            <li class="{% if is_module('billing') %}active{% endif %}">
                <a href="{{ app.url_generator.generate('billing.index') }}">Billing</a>
            </li>
        </ul>
    </div>
</div>
{% block after_header %}{% endblock %}

    {% block before_content %}{% endblock %}
<div id="main">
    {% block content %} {% endblock %}
</div>
{% block after_content %}{% endblock %}
</div>
{% include 'layouts/footer.twig' %}