<script type="text/javascript" src="{{ app.base_url }}assets/js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/book.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/microfiche.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroll/jquery-ui-1.10.4.min.js"></script>
<script type="text/javascript" src="{{ app.base_url }}assets/js/vscroller.js"></script>
</body>
</html>