<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Elibrary{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="{{ app.base_url }}assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/application.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/vscroll/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/vscroller.css" rel="stylesheet" type="text/css"/>
    <link href="{{ app.base_url }}assets/css/jquery.steps.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        var app = {
            base_url: '{{ app.base_url }}'
        };
    </script>
</head>
<body class="{% block body_class %}{% endblock %}">